h1{
    font-size: 110px!important;
    margin-top: 10% !important;
    line-height: 150px!important;
}
h2{
    margin-top: 10% !important;
}
#aboutHarbour div{
    margin-top: 10px!important;
}
#aboutHarbour img{
    width: 38% !important;
}
#atack img{
    width: 28% !important;
}
#losses{
    display: flex!important;
}
#losses div{
    flex: 1;
}
#HiroshimaAtack img{
    width: 35%!important;
}
#myths section img{
    width: 55%!important;
}
#gallery{
    width: 90%;
}
button{
    font-size: 20px;
    width: 150px;
    height: 40px;
}